<form action="/names" method="post">

Player1:
<input type="text" name="Player1">
Enter your player names.

Player2:
<input type="text" name="Player2">

<button type='submit'> Save </button>

</form>
